// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/bootstrap/scss/bootstrap.scss';

// This will look for the file named "_footer.scss"
@import 'footer';

// Import Modules
// @import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
